body {
  background-color: var(--bg--color);
  color: var(--black);
  display: flex;
  flex-direction: column;
  font-family: 'Raleway', sans-serif;
  user-select: none;
}

html {
  scroll-behavior: smooth;
}

.spanish {
  display: none;
}
body.inSpanish .english {
  display: none !important;
}

body.inSpanish .spanish {
  display: block;
}

.nav-spanish {
  visibility: hidden;
}

body.inSpanish .nav-english {
  visibility: hidden;
}

body.inSpanish .nav-spanish {
  visibility: visible;
}