.modal {
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
  display: none;
  height: 100%;
  left: 0;
  overflow: hidden;
  position: fixed;
  text-align: center;
  top: 0;
  width: 100%;
  z-index: 1;
}

.modal-content {
  animation-duration: 0.7s;
  animation-name: slideIn;
  background-color: #fefefe;
  border-radius: .5rem;
  border: 1px solid #888;
  bottom: 0;
  margin: 30vh auto;
  max-width: calc(100% - 6rem);
  padding: 1rem;
}

@keyframes slideIn {
  from {
    opacity: 0
  }

  to {
    opacity: 1
  }
}

.modal-content h3 {
  font-weight: 600;
  margin: 1rem;
  text-align: center;
}

.modal-content p {
  font-size: 14px;
  margin: .3rem;
  text-align: center;
}

.modal-content p:first-of-type {
  margin-top: 1rem !important;
}

.modal-content p:last-child {
  font-size: 1rem;
  font-weight: 600;
  margin: 1rem;
}

.modal-content img {
  max-width: 100px;
}


@media(min-width:700px) {
  .modal-content {
    max-width: 600px;
  }

  .modal-content img {
    max-width: 150px;
  }
}

@media(min-width:900px) {
  .modal-content {
    margin: 20vh auto;
    max-width: 800px;
  }

  .modal-content img {
    max-width: 200px;
  }

  .modal-content h3 {
    font-size: 2rem;
  }

  .modal-content p {
    font-size: 1rem;
  }

  .modal-content p:last-child {
    font-size: 1.5rem;
  }
}