footer {
  align-items: center;
  background-color: var(--bg--color);
  color: var(--black-para);
  display: flex;
  font-size: 0.8rem;
  font-style: italic;
  height: auto;
  justify-content: center;
  padding: 16px 0;
  text-align: center;
}

footer span {
  font-style: normal;
  font-weight: 900;
}

footer img {
  margin-right: .5rem;
}

@media(min-width: 1024px) {
  footer {
    padding: 2rem 0;
  }
}