.presentation {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  padding: var(--pading-movile);
  margin: 0 auto;
  max-width: 950px;
}

.presentation__image {
  align-self: start;
  border-radius: 1000px;
  height: 98px;
  width: 98px;
}

.presentation__title {
  font-family: var(--font-tittle);
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 26px;
  margin: 32px 0px 16px 0;
}

.presentation__paragraph {
  color: var(--black-para);
  font-size: 1rem;
  font-weight: 400;
  line-height: 22px;
  margin: 16px 0px;
}

.presentation__paragraph span {
  font-weight: 700;
}

.presentation__links-container {
  align-items: flex-start;
  display: flex;
  justify-content: space-between;
  padding: 0px;
}

.presentation__link {
  align-items: center;
  border-bottom: 1px solid var(--primary--color);
  color: var(--black-para);
  display: flex;
  font-size: 14px;
  font-weight: 700;
  gap: 2px;
  line-height: 16px;
  text-align: center;
  text-decoration: none;
  margin: 1rem 0;
}

.presentation__link:hover {
  background-color: var(--second--color);
  border-bottom: 1px solid transparent;
  color: var(--black);
  transform: scale(1.2, 1.2);
  transition: all 400ms ease;
}

@media(min-width: 768px) {

  .presentation {
    flex-direction: row;
    justify-content: space-between;
    gap: 2rem;
  }

  .presentation__image {
    order: 2;
    min-width: 199px;
    height: 199px;
  }
}

@media(min-width: 1024px) {

  .presentation {
    padding-bottom: 4rem;
  }

  .presentation__text-container {
    min-width: 604px;
  }

  .presentation__title {
    font-size: 3rem;
    line-height: 61px;
  }

  .presentation__paragraph {
    font-size: 22px;
    line-height: 2.3rem;
  }

  .presentation__link {
    font-size: 1rem;
    margin-bottom: 0;
  }

  .presentation__image {
    min-width: 248px;
    height: 248px;
  }
}