:root {
  --bg--color: #f4f4f5;
  --primary--color: #2A7AE4;
  --second--color: #EAF2FD;
  --white: #fff;
  --black: #000;
  --black-para: #464646;
  --grey: #b4b4b4;
  --hover: #5595E9;
  --font-tittle: 'Cinzel', serif;
  --font-para: 'Raleway', sans-serif;
  --pading-movile: 1rem;
}

@media(min-width: 768px) {
  :root {
      --pading-movile: 2rem;
  }
}

