#toTopBtn {
    display: block;
    background: var(--primary--color);
    font-size: 20px;
    color: var(--second--color);
    cursor: pointer;
    position: fixed;
    bottom: 40px;
    right: 20px;
    text-align: center;
    padding: 12px 15px;
    border-radius: 4px;
    transition: all 300ms ease;
}

#toTopBtn:hover {
    background: var(--hover);
    
}

#toTopBtn.active {
    background: var(--hover);
    transform: scale(0.8, 0.8);
    transition: all 1000ms ease;
}

@media(min-width: 1200px) {
    #toTopBtn {
        right: 40px;
    }
}