.skills {
    background-color: var(--bg--color);
    margin: 0 auto;
    max-width: 1000px;
    padding: 4rem 0;
}

.skills>h2 {
    font-size: clamp(22px, 3.2vw, 2rem);
    font-weight: bold;
    line-height: 26px;
    margin: 0 0 2rem 0;
    text-align: center;
}

.skills>p {
    color: var(--black-para);
    font-size: clamp(1rem, 1.9vw, 1.2rem);
    line-height: 22px;
    margin: 0;
    padding: 0 1rem 4rem 1rem;
    text-align: center;
}

.grid-container {
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(2, 10rem);
    grid-template-rows: repeat(6, 7.5rem);
    justify-content: center;
}

.grid-container div {
    background-color: var(--white);
    border-radius: .3rem;
    display: flex;
    flex-direction: column;
    justify-content: end;
    min-width: 150px;
}

.grid-container h3 {
    color: var(--black-para);
    font-size: 16px;
    font-weight: 700;
    line-height: 19px;
    margin-top: 8px;
    margin: 16px;
}

.grid-container img {
    height: 47px;
    margin: 0 16px;
    width: 34px;
}

@media(min-width: 768px) {
    .grid-container {
        grid-template-columns: repeat(3, 10rem);
        grid-template-rows: repeat(4, 7.5rem);
    }
}

@media(min-width: 1024px) {
    .grid-container {
        grid-template-columns: repeat(6, 9rem);
        grid-template-rows: repeat(2, 7.5rem);
    }
}

@media(min-width: 1200px) {
    .grid-container {
        justify-content: space-between;
    }
}