.skills {
    background-color: var(--bg--color);
    margin: 0 auto;
    max-width: 1000px;
    padding: 4rem 0;
}

.skills a {
    text-decoration: none;
}

.skills>h2 {
    font-size: clamp(22px, 3.2vw, 2rem);
    font-weight: bold;
    line-height: 26px;
    margin: 0 0 2rem 0;
    text-align: center;
}

.skills>p {
    color: var(--black-para);
    font-size: clamp(1rem, 1.9vw, 1.2rem);
    line-height: 22px;
    margin: 0;
    padding: 0 1rem 4rem 1rem;
    text-align: center;
}

.grid-container {
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(2, 10rem);
    grid-template-rows: repeat(6, 7.5rem);
    justify-content: center;
}

.grid-container div {
    background-color: var(--white);
    border-radius: .3rem;
    display: flex;
    flex-direction: column;
    justify-content: end;
    min-width: 150px;
}

.grid-container h3 {
    color: var(--black-para);
    font-size: 16px;
    font-weight: 700;
    line-height: 19px;
    margin-top: 8px;
    margin: 16px;
}

.grid-container img {
    height: 47px;
    margin: 0 16px;
    width: 34px;
}

.grid-container div {
    height: 120px;
    width: 150px;
}

.grid-item-1 img:last-of-type,
.grid-item-2 img:last-of-type,
.grid-item-3 img:last-of-type,
.grid-item-4 img:last-of-type,
.grid-item-5 img:last-of-type,
.grid-item-6 img:last-of-type,
.grid-item-7 img:last-of-type,
.grid-item-8 img:last-of-type,
.grid-item-9 img:last-of-type,
.grid-item-10 img:last-of-type,
.grid-item-11 img:last-of-type,
.grid-item-12 img:last-of-type {
    display: none;
}

.grid-item-1:hover img:first-of-type,
.grid-item-2:hover img:first-of-type,
.grid-item-3:hover img:first-of-type,
.grid-item-4:hover img:first-of-type,
.grid-item-5:hover img:first-of-type,
.grid-item-6:hover img:first-of-type,
.grid-item-7:hover img:first-of-type,
.grid-item-8:hover img:first-of-type,
.grid-item-9:hover img:first-of-type,
.grid-item-10:hover img:first-of-type,
.grid-item-11:hover img:first-of-type,
.grid-item-12:hover img:first-of-type {
    display: none;
}

.grid-item-1:hover img:last-of-type,
.grid-item-2:hover img:last-of-type,
.grid-item-3:hover img:last-of-type,
.grid-item-4:hover img:last-of-type,
.grid-item-5:hover img:last-of-type,
.grid-item-6:hover img:last-of-type,
.grid-item-7:hover img:last-of-type,
.grid-item-8:hover img:last-of-type,
.grid-item-9:hover img:last-of-type,
.grid-item-10:hover img:last-of-type,
.grid-item-11:hover img:last-of-type,
.grid-item-12:hover img:last-of-type {
    animation: toShow ease-in .75s;
    display: block;
}

@keyframes toShow {
    0% {opacity: .5;transform: scale(1.1)}
    100% {opacity: 1;
        ;
    }
}

@media(min-width: 768px) {
    .grid-container {
        grid-template-columns: repeat(3, 10rem);
        grid-template-rows: repeat(4, 7.5rem);
    }
}

@media(min-width: 1024px) {
    .grid-container {
        grid-template-columns: repeat(6, 9rem);
        grid-template-rows: repeat(2, 7.5rem);
    }
}

@media(min-width: 1200px) {
    .grid-container {
        justify-content: space-between;
    }
}