@import "@fontsource/raleway";
@import "@fontsource/sora";

@import "tailwindcss";
@theme {
  --color-white: #e8e9ff;
  --color-cyan: #00b8db;
  --color-purple: #5700ff;
  --color-blue: #2b7fff;
  --color-dark-blue: #000654;
  --color-text-secondary: #c5bdff;
  --font-raleway: "Raleway", "sans-serif";
  --font-sora: "Sora", "sans-serif";
}

@utility container {
  max-width: 1600px;
  margin: 0 auto;
  padding: 0 2rem;

  @media (max-width: 640px) {
    padding: 0 1rem;
  }
}

@utility text {
  color: var(--color-text-secondary);
  font-family: var(--font-sora);
  line-height: 1.8rem;
}

@layer base {
  html {
    scroll-behavior: smooth;
  }

  body {
    background: black;
  }

  main {
    background: linear-gradient(180deg, #000000 0%, #000654 100%);
    color: var(--color-white);
    font-family: var(--font-raleway);
    position: relative;
  }
}

@keyframes glow {
  0%,
  100% {
    opacity: 0.4;
  }
  50% {
    opacity: 0.7;
  }
}

@utility animate-glow {
  animation: glow 3s ease-in-out infinite;
}

@theme inline {
  --animate-aurora: aurora 8s ease-in-out infinite alternate;

  @keyframes aurora {
    0% {
      background-position: 0% 50%;
      transform: rotate(-5deg) scale(0.9);
    }
    25% {
      background-position: 50% 100%;
      transform: rotate(5deg) scale(1.1);
    }
    50% {
      background-position: 100% 50%;
      transform: rotate(-3deg) scale(0.95);
    }
    75% {
      background-position: 50% 0%;
      transform: rotate(3deg) scale(1.05);
    }
    100% {
      background-position: 0% 50%;
      transform: rotate(-5deg) scale(0.9);
    }
  }
}

@theme inline {
  --animate-background-position-spin: background-position-spin 3000ms infinite
    alternate;

  @keyframes background-position-spin {
    0% {
      background-position: top center;
    }
    100% {
      background-position: bottom center;
    }
  }
}
