@import "@fontsource/raleway";
@import "@fontsource/sora";

@import "tailwindcss";
@theme {
  --color-white: #e8e9ff;
  --color-cyan: #00B8DB;
  --color-purple: #5700FF;
  --color-blue: #2B7FFF;
  --color-dark-blue: #000654;
  --color-text-secondary: #c5bdff;
  --font-raleway: "Raleway", "sans-serif";
  --font-sora: "Sora", "sans-serif";
}

@utility container {
  max-width: 1600px;
  margin: 0 auto;
  padding: 0 2rem;

  @media (max-width: 640px) {
    padding: 0 1rem;
  }
}

@utility text {
  color: var(--color-text-secondary);
  font-family: var(--font-sora);
  line-height: 1.8rem;
}

@layer base {
  html {
    scroll-behavior: smooth;
  }

  body {
    background: black;
    background: linear-gradient(180deg, #000000 0%, #000654 100%);
    color: var(--color-white);
    font-family: var(--font-raleway);
    position: relative;
  }
}

@keyframes glow {
  0%,
  100% {
    opacity: 0.4;
  }
  50% {
    opacity: 0.7;
  }
}

@utility animate-glow {
  animation: glow 3s ease-in-out infinite;
}
