@import "@fontsource/raleway";

@import "tailwindcss";
@theme {
  --color-white: #e8e9ff;
  --color-text-secondary: #c5bdff;
  --font-raleway: "Raleway", "sans-serif";
}

@layer base {
  html {
    margin: 0 auto;
    max-width: 1800px;
  }

  body {
    background: black;
    color: var(--color-white);
    font-family: var(--font-raleway);
    min-height: 100vh;
    position: relative;
    margin: 0 2rem;
  }

  @media (max-width: 640px) {
    body {
      margin: 0 1rem;
    }
  }
}
