@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap');

body {
    background-color: #f5f5f5;
    font-family: 'Raleway', sans-serif;
    user-select: none;
}

    /* Estilos del nav */

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px;
}

.nav__logo {
    display: flex;
    align-items: center;
}

.nav__logo__image {
    width: 24px;
    height: 24px;
    padding-right: 8px;
}

.nav__logo__title {
    height: 19px;
    display: inline;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    margin: 0;
}

.nav__menu__button {
    padding: 14px 16px;
    width: 30px;
    height: 30px;
    border-radius: 4px;
}

.nav__menu__button>i {
    width: 24px;
    height: 24px;
    cursor: pointer;
}

.nav__menu__button:hover {
    background-color: #EAF2FD;
}

#navLinks {
    display: none;
    position: absolute;
    width: 100%;
}

#navLinks a {
    color: white;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    display: block;
    background-color: #000000;
}

#navLinks a:hover {
    background-color: #EAF2FD;
    color: black;
}

    /* Estilos de la presentación */

.presentation {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 16px;
}

.presentation__image {
    width: 98px;
    height: 98px;
    border-radius: 100%;
    
}

.presentation__title {
    font-weight: 700;
    font-size: 22px;
    line-height: 26px;
    margin: 16px 0px;
}

.presentation__paragraph {
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    color: #464646;
    margin: 16px 0px;
}

.presentation__paragraph span {
    font-weight: 700;
}

.presentation__link__conteiner {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    align-items: center;
    padding: 0px;
    box-sizing:border-box;
}

.presentation__link {
    text-decoration: none;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    color: #464646;
}

.presentation__link:hover{
    background-color: #EAF2FD;
    border-bottom: 2px solid #000000;
    color: black;
}

    /* Estilos de la sección sobre mi */

.about{
    background-color: #EAF2FD;
    padding: 16px;
}

.about__title{
    color: #464646;
    margin: 0;
    font-size: 22px;
    font-weight: 700;
    line-height: 26px;
}

.about__paragraph{
    font-size: 14px;
    line-height: 16px;
    color: #464646;
}

.about__paragraph span{
    font-weight: 700;
}

    /* Estilos de la sección de Skills */

.skills>h2{
    font-weight: bold;
    font-size: 22px;
    line-height: 26px;
    text-align: center;
    color: #464646;
    margin: 16px;
}

.grid-container{
    display: grid;
    grid-template-columns: 156px 156px;
    grid-template-rows: 118px 118px 118px 118px 118px 118px;
    justify-content: center;
    gap: 16px;
}

.grid-container div{
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: end;
}

.grid-container h3{
    color: #464646;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    margin: 16px;
    margin-top: 8px;
}

.grid-container img{
    width: 34px;
    height: 47px;
    margin: 0 16px;
}

    /* Estilos de la sección de certificados */

.education{
    background-color: #EAF2FD;
    padding: 32px;
    padding-left: 2rem;
    padding-right: 2rem;
    margin-top: 16px;
}

.education__tittle{
    text-align: center;
    color: #464646;
    font-weight: 700;
    font-size: 22px;
    line-height: 26px;
    margin-top: 0;
    margin-bottom: 32px;
}

.education__certificates__container{
    display: flex;
    align-items:center;
    flex-direction: column;
}

.education__certificate{
    margin-top: 16px;
}

.education__certificate div{
    background-color: #ffffff;
    height: 118px;
    width: 296px;
    cursor: pointer;
}

.education__certificate div>img{
    padding: 35px 113px;
    
}

.education__certificate h3{
    color: #464646;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    margin: 8px 0;;
}

.education__certificate p{
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    color: #464646;
    margin: 0;
}

    /* Estilos de la sección de proyectos */

.projects{
    margin: 32px;
}

.projects h2{
    text-align: center;
    color: #464646;
    font-weight: 700;
    font-size: 22px;
    line-height: 26px;
    margin-top: 0;
    margin-bottom: 32px;
}

.projects__container{
    display: flex;
    align-items:center;
    flex-direction: column;
}

.projects__container div{
    margin-bottom: 64px;
}

.projects__container img{
    width: 296px;
    height: 144px;
}
.projects__container h3{
    color: #464646;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    margin-bottom: 8px;
}

.projects__container p{
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    color: #464646;
    margin: 8px 0;
}

.projects__container a{
    cursor: auto;
}

.projects__btn__repocitorio{
    border: 1px solid #2A7AE4;
    color: #2A7AE4;
    width: 108px;
    height: 40px;
    margin-right: 16px;
    padding: 0;
    cursor: pointer;
}

.projects__btn__demo{
    color: #ffffff;
    background-color: #2A7AE4;
    width: 96px;
    height: 40px;
    margin: 0;
    padding: 0;
    cursor: pointer;
}

    /* Estilos del Footer */

footer {
    padding: 3px;
    padding-left: 23px;
    text-align: left;
    margin-top: auto;
    background-color: #2A7AE4;
    color: #ffffff;
}

footer span{
    transition: all 300ms ease;
    font-weight:900;
}

footer span:hover{
    color: #464646;
}

footer p{  
    margin: 5px;
    margin-left: 0;
}

footer a{
    color: #fff;
    transition: all 300ms ease;
}

footer a:hover{
    color: #464646;
}