@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap');

html {
    scroll-behavior: smooth;
}

body {
    background-color: #f5f5f5;
    font-family: 'Raleway', sans-serif;
    user-select: none;
}

/* Estilos del nav */

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px;
}

.nav__logo {
    display: flex;
    align-items: center;
}

.nav__logo__image {
    width: 24px;
    height: 24px;
    padding-right: 8px;
}

.nav__logo__title {
    height: 19px;
    display: inline;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    margin: 0;
}

.nav__menu__button {
    background-color: #EAF2FD;
    padding: 14px 16px;
    width: 30px;
    height: 30px;
    border-radius: 4px;
    transition: all 300ms ease;
}

.nav__menu__button>i {
    width: 24px;
    height: 24px;
    cursor: pointer;
}

.nav__menu__button:hover {
    background-color: #ffffff;
}

#navLinksDesktop {
    display: none;
}

#navLinks {
    display: none;
    position: absolute;
    width: 100%;
}

#navLinks a {
    color: white;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    display: block;
    background-color: #000000;
}

#navLinks a:hover {
    background-color: #EAF2FD;
    color: black;
}

/* Estilos de la presentación */

.presentation {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 16px;
}

.presentation__image {
    width: 98px;
    height: 98px;
    border-radius: 100%;
}

.presentation__title {
    font-weight: 700;
    font-size: 22px;
    line-height: 26px;
    margin: 16px 0px;
}

.presentation__paragraph {
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    color: #464646;
    margin: 16px 0px;
}

.presentation__paragraph span {
    font-weight: 700;
}

.presentation__link__conteiner {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    align-items: center;
    padding: 0px;
    box-sizing: border-box;
}

.presentation__link {
    text-decoration: none;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    color: #464646;
}

.presentation__link:hover {
    background-color: #EAF2FD;
    border-bottom: 2px solid #000000;
    color: black;
}

/* Estilos de la sección sobre mi */

.about {
    background-color: #EAF2FD;
    padding: 16px;
}

.about__title {
    color: #464646;
    margin: 0;
    font-size: 22px;
    font-weight: 700;
    line-height: 26px;
}

.about__paragraph {
    font-size: 14px;
    line-height: 16px;
    color: #464646;
}

.about__paragraph span {
    font-weight: 700;
}

/* Estilos de la sección de Skills */

.skills>h2 {
    font-weight: bold;
    font-size: 22px;
    line-height: 26px;
    text-align: center;
    color: #464646;
    margin: 16px;
}

.grid-container {
    display: grid;
    grid-template-columns: 156px 156px;
    grid-template-rows: 118px 118px 118px;
    justify-content: center;
    gap: 16px;
}

.grid-container div {
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: end;
}

.grid-container h3 {
    color: #464646;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    margin: 16px;
    margin-top: 8px;
}

.grid-container img {
    width: 34px;
    height: 47px;
    margin: 0 16px;
}

/* Estilos de la sección de certificados */

.education {
    background-color: #EAF2FD;
    padding: 32px;
    padding-left: 2rem;
    padding-right: 2rem;
    margin-top: 16px;
}

.education__tittle {
    text-align: center;
    color: #464646;
    font-weight: 700;
    font-size: 22px;
    line-height: 26px;
    margin-top: 0;
    margin-bottom: 16px;
}

.education__certificates__container {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.education__certificate {
    margin-top: 16px;
}

.education__certificate div {
    background-color: #ffffff;
    height: 118px;
    width: 296px;
    cursor: pointer;
    box-sizing: border-box;
    transition: all 300ms ease;
}

.education__certificate div:hover {
    border: solid 2px #2A7AE4;
}

.education__certificate div>img {
    padding: 35px 113px;
}

.education__certificate h3 {
    color: #464646;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    margin: 8px 0;
    ;
}

.education__certificate p {
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    color: #464646;
    margin: 0;
}

/* Estilos de la sección de proyectos */

.projects {
    margin: 32px;
}

.projects h2 {
    text-align: center;
    color: #464646;
    font-weight: 700;
    font-size: 22px;
    line-height: 26px;
    margin-top: 0;
    margin-bottom: 32px;
}

.projects__container {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.projects__container>div {
    margin-bottom: 64px;
}

.projects__container img {
    width: 296px;
    height: 144px;
}

.projects__container h3 {
    color: #464646;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    margin-bottom: 8px;
}

.projects__container p {
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    color: #464646;
    margin: 8px 0;
}

.projects__container a {
    cursor: auto;
}

.projects__btn__repocitorio {
    border: 1px solid #2A7AE4;
    color: #2A7AE4;
    width: 108px;
    height: 40px;
    margin-right: 16px;
    padding: 0;
    cursor: pointer;
}

.projects__btn__repocitorio:hover {
    background-color: #EAF2FD;
}

.projects__btn__demo {
    border: none;
    color: #ffffff;
    background-color: #2A7AE4;
    width: 96px;
    height: 40px;
    margin: 0;
    padding: 0;
    cursor: pointer;
    transition: all 300ms ease;
}

.projects__btn__demo:hover {
    background-color: #5595E9;
}

/* Estilos del Formulario de contacto*/

.contact {
    background-color: #EAF2FD;
    padding: 32px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contact img {
    display: none;
}

.contact h2 {
    color: #464646;
    font-weight: 700;
    font-size: 22px;
    line-height: 26px;
    margin: 0 0 16px 0;
    align-self: flex-start;
}

.contact p {
    color: #464646;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    margin: 0 0 8px 0;
    align-self: flex-start;
}

.contact__redsocial__container {
    display: inline;
    margin-top: 16px;
    margin-right: 8px;
}

.contact__redsocial__link {
    text-decoration: none;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    color: #464646;

}

.contact__redsocial__link:hover {
    background-color: #ffffff;
    border-bottom: 2px solid #000000;
    color: black;
}

.contact__redsocial__link i {
    color: #2A7AE4;
    transition: all 300ms ease;
}

.contact__redsocial__link i:hover {
    color: #464646;
}

.contact__input__container {
    border-radius: 4px;
    border-bottom: solid 1px #C8C8C8;
    background-color: #ffffff;
    box-sizing: border-box;
    margin: 32px 0;
    width: 296px;
    height: 56px;
    padding: 8px 12px;
}

.contact__input__container__mensaje {
    height: 133px !important;
}

.contact__label {
    color: #A2A2A2;
    display: block;
    font-size: 12px;
    line-height: 16px;
    width: 272px;
    height: 16px;
}

.contact__input__nombre,
.contact__input__email,
.contact__input__asunto,
.contact__input__mensaje {
    border: none;
    color: #464646;
    display: block;
    font-size: 16px;
    line-height: 20px;
    width: 272px;
    height: 20px;
}

.contact__input__mensaje {
    width: auto;
    height: auto;
    resize: none;
}

.contact__input__nombre:focus,
.contact__input__email:focus,
.contact__input__asunto:focus,
.contact__input__mensaje:focus {
    outline: none;
    caret-color: #2A7AE4;
}

.contact__label--active {
    color: #2A7AE4;
}

.contact__input--active {
    border-bottom: solid 2px #2A7AE4;
}

.contact__input__submit {
    background-color: #2A7AE4;
    border: none;
    color: #ffffff;
    width: 133px;
    height: 40px;
    cursor: pointer;
    transition: all 600ms ease;
}

.contact__input__submit:hover {
    background-color: #5595E9;
}

/* Estilos del Footer */

footer {
    padding: 16px 0;
    background-color: #f5f5f5;
    color: #464646;
    height: auto;
}

footer span {
    font-weight: 900;
}

footer p {
    text-align: center;
    margin: 5px;
    margin-left: 0;
}

#btn__ir-arriba {
    display: none;
    background: #2A7AE4;
    font-size: 20px;
    color: #EAF2FD;
    cursor: pointer;
    position: fixed;
    bottom: 40px;
    right: 20px;
    text-align: center;
    padding: 12px 15px;
    border-radius: 4px;
    transition: all 300ms ease;
}

#btn__ir-arriba:hover {
    background: #5595E9;
}

@media(min-width: 768px) {

    .nav {
        padding: 16px 32px;
    }

    .presentation {
        flex-direction: row;
        justify-content: space-between;
        padding: 32px;
    }

    .presentation__image {
        width: 146px;
        height: 146px;
        order: 2;
    }

    .presentation div {
        max-width: 500px;
        order: 1;
    }

    .about {
        padding: 32px;
    }

    .skills h2 {
        margin: 32px;
    }

    .grid-container {
        display: grid;
        grid-template-columns: 224px 224px 224px;
        grid-template-rows: 118px;
    }

    .education {
        margin-top: 32px;
        text-align: center;
    }

    .education__certificates__container {
        flex-direction: row;
        flex-wrap: wrap;
        padding: 3rem;
    }

    .education__certificate {
        width: 33.33%;
    }

    .education__certificate div {
        width: 224px;
    }

    .education__certificate:nth-child(1) {
        order: 1;
        margin-right: 16px;
    }

    .education__certificate:nth-child(2) {
        order: 5;
        width: auto;
    }

    .education__certificate:nth-child(3) {
        order: 2;
    }

    .education__certificate:nth-child(4) {
        order: 3;
        margin-left: 16px;
    }

    .education__certificate:nth-child(5) {
        order: 4;
        margin-right: 16px;
    }

    .education__certificate div>img {
        padding: 35px 77px
    }

    .projects__container img {
        width: 704px;
        height: 320px;
    }

    .projects__btn__repocitorio {
        width: 116px;
        height: 51px;
    }

    .projects__btn__demo {
        width: 105px;
        height: 51px;
    }

    .contact__input__container {
        width: 704px;
        height: 56px;
    }

    .contact__label {
        width: 680px;
        height: 16px;
    }

    .contact__input__nombre,
    .contact__input__email,
    .contact__input__asunto,
    .contact__input__mensaje {
        width: 680px;
        height: 20px;
    }

    .contact__input__mensaje {
        height: 90px;
    }

    footer {
        padding: 32px;
    }

    #btn__ir-arriba {
        bottom: 40px;
        right: 40px;
    }
}

@media(min-width:1000px) {

    .nav {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        max-width: 78.82%;
        padding: 32px 0;
        margin: 0 10.56%;

        justify-content: space-between;
        box-sizing: border-box;
        height: 100px;
    }

    .nav__menu__button {
        display: none;
    }

    #navLinksDesktop {
        display: flex;
        width: 700px;
        justify-content: space-around;
        box-sizing: border-box;
    }

    #navLinksDesktop a {
        color: #000000;
        text-decoration: none;
        font-size: 17px;
        display: inline-block;
        margin: 0 32px;
    }

    #navLinksDesktop a:hover {
        background-color: #EAF2FD;
        color: black;

    }

    .presentation {
        align-items: center;
        margin: 32px 10.56%;
        padding: 0;
        max-width: 78.82%;
    }

    .presentation div {
        max-width: 751px;
        margin-right: 16px;

    }

    .presentation__image {
        height: 368px;
        width: 368px;
        min-width: 368px;
        order: 2;
    }

    .presentation__title {
        font-size: 52px;
        line-height: 61px;
    }

    .presentation__paragraph {
        font-size: 22px;
        line-height: 2.3rem;
    }

    .about {
        padding: 64px 10.56%;
        box-sizing: border-box;


    }

    .about__title {
        font-size: 32px;
        line-height: 38px;
    }

    .about__paragraph {
        font-size: 16px;
        line-height: 19px;
    }

    .skills {
        margin: 0 10.56%;
        max-width: 78.82%;
    }

    .skills>h2 {
        font-size: 32px;
        line-height: 38px;
    }



    .education {
        margin-top: 88px;
        padding: 82px 10.56%;
        max-width: 78.82%;
    }

    .education__tittle {
        font-size: 32px;
        line-height: 38px;
        margin-bottom: 32px;
    }

    .education__certificate {
        width: 32.3%;
        height: 49%;
    }

    .education__certificate div {
        width: 100%;
        height: 286px;
    }

    .education__certificate:nth-child(1) {
        order: 1;
        margin: 0;
        margin-right: 1.3%;
    }

    .education__certificate:nth-child(2) {
        order: 5;
        width: 32.43%;
        margin: 0;
        margin-top: 14px;
    }

    .education__certificate:nth-child(3) {
        order: 2;
        margin: 0;
        margin-right: 1.3%;
    }

    .education__certificate:nth-child(4) {
        order: 3;
        margin: 0;

    }

    .education__certificate:nth-child(5) {
        order: 4;
        margin: 0;
        margin-right: 1.3%;
        margin-top: 14px;
    }

    .education__certificate div>img {
        padding: 78px 25%;
        width: 160px;
        height: 100px;
    }

    .projects h2 {
        font-size: 32px;
        line-height: 38px;
    }

    .projects__container .project {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        margin: 0;
    }

    .projects__container .project div {
        max-width: 369px;
        padding-right: 2rem;
    }

    .projects__container .project:first-child img {
        margin-right: 64px;
        margin-bottom: 64px;
    }

    .projects__container .project:last-child img {
        order: 2;
    }

    .projects__container h3 {
        font-size: 22px;
        line-height: 26px;
    }

    .projects__container p {
        font-size: 16px;
        line-height: 19px
    }

    .projects__container img {
        width: 752px;
        height: 406px;
    }

    .contact {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        padding: 82px 10%;
        max-width: 80%;
    }

    .contact img {
        display: block;
        margin-right: 5%;
    }

    .contact__redsocial__container a img {
        display: inline;
    }

    .contact__input__container {
        width: 100%;
        height: 56px;
    }

    .contact__label {
        width: 55%;
    }

    .contact__input__nombre,
    .contact__input__email,
    .contact__input__asunto,
    .contact__input__mensaje {
        width: 100%;
        height: 20px;
    }

    .contact__input__mensaje {

        height: 100px;
    }
}

@media(min-width: 1160px) {

    .grid-container {
        display: grid;
        grid-template-columns: 176px 176px 176px 176px 176px 176px;
        grid-template-rows: 174px;
    }
}